<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wallet.bo.wallets">

    <!-- kefu  start -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.easemob.helpdeskdemo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.easemob.helpdeskdemo.permission.C2D_MESSAGE" />
    <!-- kefu  end -->


    <!-- 添加必要的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- PPD START -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- PPD END -->

    <uses-permission android:name="android.permission.BLUETOOTH" />


    <!-- 银行卡扫描start -->
    <!-- Permission to vibrate - recommended, allows vibration feedback on scan -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Permission to use camera - required -->
    <!-- Camera features - recommended -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <!-- 银行卡扫描end -->
    <application
        android:name=".ui.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/im_lancher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ActivityStyle">

        <!-- <activity android:name=".ui.activity.SplashOneActivity"> -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.GuideActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.LoanActivity" />
        <activity
            android:name=".ui.activity.LoanMoneyActivity"
            android:theme="@style/DialogTransparent" />
        <activity android:name=".ui.activity.MyWalletActivity" />
        <activity android:name=".ui.activity.RepaymentActivity" />
        <activity android:name=".ui.activity.LoanLogActivity" />
        <activity android:name=".ui.activity.ProductDetailsActivity" />
        <activity android:name=".ui.activity.OpenLoanActivity" />
        <activity android:name=".ui.activity.WeActivity" />
        <activity android:name=".ui.activity.SetActivity" />
        <activity android:name=".ui.activity.FeedbackActivity" />
        <activity android:name=".ui.activity.MyMessageActivity" />
        <activity android:name=".ui.activity.RepaymentOneActivity" />
        <activity android:name=".ui.activity.HelpActivity" />
        <activity android:name=".ui.activity.CommonproblemActivity" />
        <activity android:name=".ui.activity.MyInformationActivity" />
        <activity android:name=".ui.activity.UpdateTelActivity" />
        <activity android:name=".ui.activity.UpdateNickNameActivity" />
        <activity android:name=".ui.activity.AddBankActivity" />
        <activity android:name=".ui.activity.MyBankActivity" />
        <activity android:name=".ui.activity.AddBankMesckActivity" />
        <activity android:name=".ui.activity.AccountsecurityActivity" />
        <activity android:name=".ui.activity.AccountsecurityAuthenticationActivity" />
        <activity android:name=".ui.activity.AccountsecutsecurityAuthentictionMesckActivity" />
        <activity android:name=".ui.activity.UpdateTransactionpasswordActivity" />
        <activity android:name=".ui.activity.LoanSuccessActivity" />
        <activity android:name=".ui.activity.UpdateEmailActivity" />
        <activity android:name=".ui.activity.UpdateLoginPsActivity" />
        <activity android:name=".ui.activity.LoanLogDetailsActivity" />
        <activity
            android:name=".ui.activity.RepaymentPwActivity"
            android:theme="@style/ActivityAnimBottom" />
        <activity android:name=".ui.activity.TestActivity" />
        <activity android:name=".ui.activity.RepaymentSuccessActivity" />
        <activity android:name=".ui.activity.MyWalletCloseActivity" />
        <activity android:name=".ui.activity.TelActivity" />
        <activity android:name=".ui.activity.ResetLoginPsActivity" />
        <activity android:name=".ui.activity.LogingActivity" />
        <activity
            android:name=".ui.activity.CreditWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".ui.activity.LoanPhotoActivity" />
        <activity android:name=".ui.activity.CommonWebActivity" />
        <activity android:name=".ui.activity.ZmWebActivity" />
        <activity android:name=".ui.activity.CommonClientWebActivity" />
        <activity android:name=".ui.activity.JGuangMesActivity" />
        <activity android:name=".ui.activity.AddContactActivity" />

        <!-- Activities responsible for gathering payment info 银行卡扫描 -->
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity android:name=".ui.activity.YedActivity" />

        <!-- ===== 连连支付测试 = -->

        <activity android:name=".lianlianpay.AuthActivity" />

        <!-- LLYT SDK START -->
        <activity
            android:name="com.yintong.secure.activity.BaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <service android:name="com.yintong.secure.service.PayService" />
        <!-- LLYT SDK END -->


        <!-- ===== alipay sdk begin 支付宝配置开始 = -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- ====== alipay sdk end 支付宝配置结束 ======= -->


        <!-- ShareSDK的activity -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent101426196" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="208841d251be6" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="ddfa2c725bcf183f46dc0d1ee6ccb35c" />

        <!-- 百度统计同时使用用户量 -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="87325c6d21" />

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 支付宝分享回调 -->
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- jPush start -->

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.wallet.bo.wallets" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.wallet.bo.wallets" />
            </intent-filter>
        </receiver>

        <!-- ppd start -->

        <activity
            android:name="com.ppdai.loan.ui.PersonalInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.ppdai.loan.ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.ppdai.loan.v2.ui.BindBankCardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.ppdai.loan.ui.UserInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.ppdai.loan.ui.ContactPickerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v2.ui.SelectCityActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v2.ui.MarriageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v2.ui.RealNameAuthenticationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.ui.AreaChoiceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.ui.SchoolChoiceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v2.ui.UploadIDCardActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v3.ui.V3WithdrawalsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v2.ui.WithdrawalsSuccesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v3.ui.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v3.ui.RepaymentActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v3.ui.ProgressActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v3.ui.NewsMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v3.ui.NewsUserInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v3.ui.QQNumberInputActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_ppdai_dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v3.ui.QueryUserStatusActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.ppdai.loan.v3.ui.InitActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_frame_loading_dialog" />
        <activity
            android:name="com.ppdai.loan.v3.ui.HybridWebClientActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.ppdai.loan.v3.ui.HybridWebClientTitleActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.ppdai.loan.v3.ui.ImageCaptureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ppdai.loan.v3.ui.CouponActivity"
            android:configChanges="keyboardHidden|orientation"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@style/ppd_AppTheme"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name="com.ppdai.loan.v3.service.EntranceProxyService"
            android:exported="false"
            android:process=":ppd_sdk" />

        <activity
            android:name="com.ppdai.loan.polling.FakeInitActivity"
            android:exported="false"
            android:process=":ppd_sdk"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="${applicationId}.action.NotificationClick" />
            </intent-filter>
        </activity>

        <!-- bugly 应用更新 start -->

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <!-- 如果您想兼容Android N或者以上的设备，必须要在AndroidManifest.xml文件中配置FileProvider来访问共享路径的文件。 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wallet.bo.wallets.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- 如果你使用的第三方库也配置了同样的FileProvider, 可以通过继承FileProvider类来解决合并冲突的问题，示例如下： -->


        <!--
<provider
    android:name=".utils.BuglyFileProvider"
    android:authorities="${applicationId}.fileProvider"
    android:exported="false"
    android:grantUriPermissions="true"
    tools:replace="name,authorities,exported,grantUriPermissions">
    <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths"
        tools:replace="name,resource"/>
</provider>
        -->


        <!-- 这里要注意一下，FileProvider类是在support-v4包中的，检查你的工程是否引入该类库。 -->


        <!-- bugly 应用更新 end -->


        <!-- 获取用户借款状态 -->
        <service
            android:name="com.ppdai.loan.v3.service.FetchLoanStatusService"
            android:exported="false"
            android:process=":ppd_sdk" />
        <service
            android:name="com.ppdai.loan.polling.PollingCoreService"
            android:exported="false"
            android:process=":ppd_sdk">
            <intent-filter>
                <action android:name="com.wallet.bo.wallets.action.ScheduleCoreService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.ppdai.module.watchdog.ScheduleWakefulReceiver"
            android:exported="false"
            android:process=":ppd_sdk" />

        <service
            android:name="com.ppdai.module.watchdog.ScheduleDaemonService"
            android:exported="false"
            android:process=":ppd_sdk" />

        <receiver
            android:name="com.ppdai.module.watchdog.ScheduleDaemonReceiver"
            android:process=":ppd_sdk">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
        <!-- ppd end -->

        <activity android:name=".ui.activity.LoanWebActivity" />
        <activity android:name=".ui.activity.WithdrawalsActivity" />
        <activity android:name=".ui.activity.VipClubActivity" />
        <activity android:name=".ui.activity.RefundActivity" />
        <activity android:name=".ui.activity.BuyMemberActivity"></activity>
    </application>

</manifest>